license: true
 
locales:
  - en_US
  - ru_RU
 
layouts:
  - us
  - ru
 
layout_switch_keys:
  - alt_shift_toggle
 
timezone: Asia/Omsk
 
ntp_settings:
  ntp_state: True
#   ntp_server: 'ntp1.vniiftri.ru'
 
# User config
user:
  username: astra
  password: P@ssw0rd
  grub-password: P@ssw0rd
 
host:
  hostname: astra
 
repo_source: auto
   
repos:
  debootstrap:
    name:
      default: "Debootstrap repository"
      ru_RU: "Дебутстрап репозиторий"
    url: 'deb https://download.astralinux.ru/astra/stable/1.8_x86-64/repository-main/ 1.8_x86-64 main contrib non-free'
 
kernel-package: 6.1.50-1-generic
 
tasks:
  - Base
  - Fly-ssh
 
packages: 'fly-passwd lshw bind9-dnsutils net-tools'
  
mode: 2
 
# Addition Security features
features:
  - astra-mic-control # Мандатный контроль целостности
 
  - astra-mac-control # Мандатное управление доступом
  - astra-ptrace-lock # Запрет трассировки ptrace
  - astra-sudo-control # Запрос пароля для команды sudo
#  - astra-digsig-control # Замкнутая программная среда
#  - astra-secdel-swapwiper # Очистка освобождаемой внешней памяти
#  - astra-nobootmenu-control # Запрет вывода меню загрузчика
#  - astra-nochmodx-lock # Запрет установки бита исполнения
#  - astra-interpreters-lock # Запрет исполнения скриптов пользователя
#  - astra-macros-lock # Запрет исполнения макросов пользователя
#  - astra-console-lock # Запрет консоли
#  - astra-ulimits-control # Системные ограничения ulimits
#  - astra-noautonet-control # Запрет автоматической настройки сети
#  - astra-installer-localtime-control # Местное время для системных часов
 
# Partition

clearpart --all --initlablel --disklabel=gpt
part pv.01 --fstype="lvmpv" --ondisk=sda --size=1 --grow

volgroup vg_system pv.01

logvol /boot --fstype=ext4 --size=1024 --name=boot --vgname=vg_system
logvol / --fstype=ext4 --size=6144 --name=root --vg_name=vg_system
logvol swap --fstype=swap --size=2048 --name=swap --vg_name=vg_system
logvol /home --fstype=ext4 --size=1024 --name=1024 --name=home --vgname=vg_system
logvol /var --fstype=ext4 --size=1024 --name=var --vg_name=vg_system

storage:
# gpt: true # Выбор типа таблицы разделов. В данном примере не используется, так как далее для разметки диска используется опция confg,
# позволяющая детально задать шаблон разметки.
# Строки шаблона должны быть разделены последовательностью из двух символов "\n" (новая строка).  Опция config и шаблон разметки:
  config: "
    ignoredisk --only-use=*
 
    clearpart --all --disklabel=gpt
 
    bootloader --location=mbr
 
    part biosboot --fstype=biosboot --size=2
 
    part /boot --label=boot --fstype=ext2 --size=1024 --asprimary
 
    part /boot/efi --label=efi --fstype=ext2 --size=1024 --asprimary
 
    part pv.lvm_part --grow --asprimary
 
    volgroup VG pv.lvm_part
 
    logvol / --fstype=ext4 --name=lv_root --vgname=VG --percent=100
 
    logvol swap --fstype=swap --name=lv_swap --vgname=VG --recommended"
 
#late_command_intarget - команды, которые будут выполнены в окружении устанавливаемой системы. Например:
#late_command_intarget: "
#sed -i 's/^XKBOPTIONS=.*/XKBOPTIONS=\"grp:ctrl_shift_toggle,grp_led,numpad:microsoft\"/' /etc/default/keyboard ;
#wget -O /usr/local/bin/update.sh ftp://192.168.1.7/al_update.sh;
#chmod +x /usr/local/bin/update.sh;
#wget -O /lib/systemd/system/update.service ftp://192.168.1.7/al_update.service;
#systemctl enable update.service"
 
# Аналог preseed/late_command в debian installer. Команды будут выполнены в окружении установщика после выполнения команд late_command_intarget.
#late_command: "
#sudo apt-get download tree;
#sudo dpkg -i tree*.deb"
 
# Запрет перезагрузки системы после установки (доступна начиная с оперативного обновления 1.8.4)
# reboot_after_install: false